.input {
  appearance: none;
  font: inherit;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  color: rgb(var(--white-color));
}

.input::placeholder {
  position: absolute;
  transition: all ease-in-out .3s;
}

.input+span {
  position: absolute;
  opacity: 0;
  padding: 0 0.15rem;
  z-index: -1;
  top: -0.8rem;
  left: 0.5rem;
  background-color: rgb(var(--background));
}

.input.input-filled+span,
input:focus+span {
  top: -0.8rem;
  left: 0.5rem;
  z-index: 1;
  opacity: 1;
  color: rgb(var(--white-color));
}

.input::placeholder {
  color: rgb(var(--gray-color));
}

.input:focus::placeholder {
  opacity: 0;
}

.input-wrapper {
  max-width: max-content;
  position: relative;
  border: 1px solid rgb(var(--gray-color));
  padding: 0.5rem;
  transition: all ease-in-out .3s;
}

.input-wrapper:focus-within {
  border: 1px solid rgb(var(--white-color));
}
