.button {
  font: inherit;
  appearance: none;
  outline: none;
  padding: 1em;
  margin: 0;
  line-height: 120%;

  background-color: rgb(var(--background));
  color: rgb(var(--white)) !important;
  cursor: pointer;
  font-weight: 500;

  transition: all ease-in-out .3s;
}

.button--primary {
  border: 1px solid rgba(var(--primary), 1);
}


.button--primary:hover {
  background-color: rgba(var(--primary), 0.5);
}

.button--gray {
  border: 1px solid rgb(var(--gray));
  color: rgb(var(--gray-color));
}


.button--gray:hover {
  background-color: rgba(var(--gray), 0.4);
}
